/*--This is Not final so messy--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vid-container{
    gap: 1rem;
    margin: 1rem 4rem;
    display: flex;
    justify-content: space-evenly;
}

 /*--Not final--*/

 .vid{
    display: flex;
    justify-content: center;
    align-items: center;
    /*--Guide Onle--*/
    width: 100%;    
    max-width: 80rem;   
    border-radius: 20px;    
}

.vid iframe{        
    width: 100%;
    max-width: 80rem; 
    height: 100%;
    max-height: 600px;
    min-height: 400px;
    border-radius: 20px;
    cursor: pointer;
}

.vid iframe:hover{
    border: 0.5px solid #dbb42c;
}

.vidname{
    display: flex;
    justify-content: start;
    align-items: center;  
}

/* Consult morata and juls*/
.vidcard{
    background-color: #221f1f;
    width: 350px;
    height: 100%;
    max-height: 600px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    border: 1px solid #dbb42c;
}

.vidcard-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vid-wrap{
    margin: 0 1rem; 
    margin-top: 1.5rem;
}

.imgs{
    background-color: red;
    width: 100%;
    max-width:350px;
    height: 450px;
    border-radius: 10px;
}

.mname{
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: start; 
    font-size: 1.5rem;
    color: #dbb42c;
}

.vcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.ratings{
    margin: 0.3rem 0;
}
.ratings i{
    font-size: 1.2rem;
}

.views{
    font-size: 1.2rem;
}


.vidname1{
    margin-left: 6.5rem;
    font-size: clamp(1.7rem, 1.325rem + 1.2vw, 2rem);;
}

.vidname-bottom{
    display: flex;
    justify-content: start;
    align-items: center;   
}
    
.bottom{
    margin: 1rem 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: start  ;
    gap: 1rem; 
}

.about-container{
    border: 1px solid #dbb42c; 
    width: 100%;     
    max-width: 80rem;
    background-color: #221f1f;
    border-radius: 15px;  
}

.wrapper{
    padding: 0rem 2.5rem;
  
}

.genre{
    color: #dbb42c;
    font-weight: 600;
    font-size: 1.5rem;  
}

.about{    
    color: black;
    font-size: 1.2rem;
}

.about-content{
    font-size: clamp(1rem, 0.85rem + 0.8vw, 1.2rem);
    text-indent: 30px;
    height: 115px;
    overflow: hidden;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
}

.showContent .about-content {
    height: auto;
}


.seemore{
    color: #dbb42c;
    font-size: clamp(1rem, 0.85rem + 0.8vw, 1.3rem);
}

.seemore:hover{
    opacity: 0.8;
}

.episode-container{
    border: 1px solid #dbb42c;
    background-color: #221f1f;
    width:  350px;
    height: 400px;  
    border-radius: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-style: normal;

} 

.episode-container::-webkit-scrollbar {
    width: 7px;
}

.episode-container::-webkit-scrollbar-thumb{
    background-color: #7D7C7C;
    border-radius: 7px; 
}

.eps{
    margin:0.5rem 1rem;
    background-color: #221f1f;
    border-radius: 5px; 
    border: 1px solid #dbb42c;
}

.eps a{ 
    display: flex;
    justify-content: space-evenly   ;
    align-items: center;

    padding: 0.5rem;        
}

.eps-container{
    color: #dbb42c;
    display: grid;
    justify-content: center; 
    align-items: center ;   
    text-align: center;
}
.eps-genre{
    color: white;
}

.epsnum{
    text-align: center  ;
    font-size: clamp(0.9rem, 0.65rem + 0.8vw, 1rem);
    font-weight: 600;
}
.epsimg{
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

footer{
    font-family: "Cairo", sans-serif;
}


@media only screen and (max-width: 1876px){
    .vidname1{
        margin-left: 4rem;    
    }
}
@media only screen and (max-width: 1280px){
    .vidname1{
        margin-left: 3.9rem;
    }
}

@media only screen and (max-width: 850px){
    .vid-container{
        flex-direction: column;
        align-items: center;    
    }

    .bottom{
        flex-direction: column;
        align-items: center;
    }

    .vidcard{
        display: none;
    }
  
    .episode-container{
        width: 100%;
    }

}

@media only screen and (max-width:600px){
    .vidcard{
        width: 100%;
    }
}   

@media only screen and (max-width: 500px){
    .vid-container{
        gap: 1rem;
        margin: 1rem 2rem;
        display: flex;
        justify-content: space-evenly;
    }
    .vidname1{
        margin-left: 2rem;
    }
    
    .vidcard{
        display: none;
    }

    .vid iframe{
        border-radius: 10px;
    }

    .bottom{
        margin: 1rem 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem; 
    }
}
@media only screen and (max-width: 360px){

}
